@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .center {
    margin: 0 auto;
    /* width: 95%; */
  }
  .center2 {
    margin: 0 auto;
    width: 50%;
  }

  .padding-auto {
    padding: 0 2rem;
    width: 80%;
  }
  .primary {
    background-color: #f3eed9;
  }
  .secondary {
    background-color: #824936;
  }
  .tertiary {
    background-color: #222c2a;
  }
  .text-color {
    color: #824936;
  }
  .auto_grid {
    grid-template-columns: auto 1fr;
  }
}
